<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feira Virtual SENAC 2020 | Projeto Integrador Template</title>
    <th:block th:insert="~{/fragments/head :: head}"></th:block>
    <!-- Sweet-Alert  -->
    <link th:href="@{/statics/plugins/sweet-alert2/sweetalert2.min.css}" rel="stylesheet" type="text/css">
 <script>   
    < type="text/java">   
		var data = []
		var valorObj = []

		var cardPreview = (index) => `<tr>
			<td>${index.id}</td>
			<td>${index.codigo}</td>
			</tr>`
			
		function listarCardPreview(){
		   	valorObj.forEach(index => $("#tbody").append(cardPreview(index)))
		}
		
	function idEvento(id){		
	        		
		$.ajax({
	        type: "GET",
	        url: "palestrante/"+id,
	        data: data,
	        dataType: 'json',
	        success: function(obj) {
	        	valorObj.push(obj)
	        }});

		}
	</script>
</head>

<body>

<div id="page-wrapper">

    <!-- Top Bar Start -->
    <th:block th:insert="~{/fragments/topbar :: topbar}"></th:block>
    <!-- Top Bar End -->

    <!-- Page content start -->
    <div class="page-contentbar">
        <!--left navigation start-->
        <th:block th:insert="~{/fragments/sidebar :: sidebar}"></th:block>
        <!--left navigation end-->
        
        <!-- START PAGE CONTENT -->
        <div id="page-right-content">
        
            <div class="container-fluid">
               <div class="row">
    				<div class="col-sm-12">
    					<h4 class="m-b-20 header-title">Cadastrar Evento</h4>
						  <form class="form-horizontal" role="form" th:object="${eventoDomain}" th:action="@{/evento/salvar}" method="POST">
                             <input type="hidden" class="form-control" th:field="*{id}" readonly>
                            
                             <fieldset>
                                 <legend>Informações do Evento</legend>
				
				<!--
				<div class="alert alert-danger alert-dismissible fade in" role="alert" style="display: none;" id="msgInputs">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong>Preencha todos os campos marcados com *</strong>
                </div>
                -->
	
				<div class="form-row">
					<div class="col-md-7 mb-3">
                        <form id="formCadastro" class="form-validation" th:object="${eventoDomain}" th:action="@{/evento/salvar}" method="POST">
                                     </br><label>Título do Evento<span class="text-danger">*</span></label>
                                     <input type="text" id="eventoTitulo" class="form-control" th:field="*{eventoTitulo}" placeholder="Digite o título do evento" required>
                                 </div>
                                 
                                 <div class="col-md-3 mb-3">
                                     </br><label>Tipo do Evento<span class="text-danger">*</span></label>
                                     <select th:field="*{eventoTipo}" id="eventoTipo" class="form-control select2-selection select2-selection--single" required>
										<option value="" hidden selected>Selecionar</option>
										<option th:each="eventoTipoDomain: ${eventoTipoDomainList}" th:value="${eventoTipoDomain.id}" th:text="${eventoTipoDomain.eventoTipoDescricao}"/>
									</select>
                                 </div>
                              </div>
                                 
									<div class="form-row">
										<div class="col-md-4 mb-3">
											<label>Data Inicio<span class="text-danger">*</span></label> 
												

											<input type="datetime-local" class="form-control input-group date" id="eventoDataInicio" th:field="*{eventoDataInicio}" />
									</div>
									
									<div class="col-md-4 mb-3">
										<label>Data Fim<span class="text-danger">*</span></label>									

										<input type="datetime-local" class="form-control input-group date" id="eventoDataFim" th:field="*{eventoDataFim}" />
									</div>
																	
									
									<div class="col-md-2 mb-3">
                                   	  <label>Vagas:<span class="text-danger">*</span></label>
                                      <input type="number" id="qtdVagas" th:field="*{eventoVagas}" min="1" onkeyup="if(this.value<0){this.value= this.value * -1}"
                                     		class="form-control" placeholder="Digite a quantidade de vagas" required>
                                	 </div>
                                 </div>
                                 
                                 <div class="form-row">
                                 	<div class="col-md-7 mb-3">
										<label>Selecione o Stand:<span class="text-danger">*</span></label>
										<select th:field="*{stand}" id="stand" class="form-control select" required>
											<option value="" hidden selected>Selecionar</option>
											<option th:each="standDomain: ${standDomainList}" th:value="${standDomain.standId}" th:text="${standDomain.standNome}" />
									</select>
                                 </div>
                                 
                                     <div class="col-md-3 mb-3">
                                        <label>Status do Evento</label>
                                        <select th:field="*{eventoStatus}" id="eventoStatus" class="form-control select" required>
                                            <option value="" selected hidden>Selecionar</option>
                                            <option value="1">Ativo</option>
                                            <option value="0">Inativo</option>
                                        </select>
                                    </div>
                                 </div>                                 
                                 
                                 <!--
                                 <div class="form-row">
                                	 <div class="col-md-5 mb-3">
                                  	   <label>Link do Evento:</label>
										 <input type="url" th:field="*{eventoLink}" id="eventoLink" class="form-control" placeholder="Digite o link do evento - Ex.: https://www.link.com.br">
                                        <select th:field="*{eventoStatus}" id="eventoStatus" class="form-control select" required>
                                            <option value="" selected hidden>Selecionar</option>
                                            <option value="1">Ativo</option>
                                            <option value="0">Inativo</option>
                                        </select>                                 	
                                 	</div>
                                 </div>
                                 -->
                                 
                                 <div class="form-row">
                                     <div class="col-md-5 mb-3">
                                         <label>Link do Evento:</label>
                                         <input type="url" th:field="*{eventoLink}" id="eventoLink" class="form-control" placeholder="Digite o link do evento - Ex.: https://www.link.com.br">
                                     </div>
                                     
                                     <div class="col-md-5 mb-3">
                                         <label>Link do Banner:</label>
                                         <input type="url" th:field="*{eventoLinkBanner}" id="eventoLinkBanner" class="form-control" placeholder="Digite o link do banner - Ex.: https://www.link.com.br">
                                     </div>
                                 </div>
                                 
                                 <div class="form-row">
                                     <div class="col-md-5 mb-3">
	                                    
										    <label for="exampleFormControlSelect2">Palestrante:</label>
										    <select name="palestrante" id="palestrante"  multiple class="form-control" >
										      <option th:each="respDomain: ${responDomainList}" th:value="${respDomain.responsavelId}" th:text="${respDomain.responsavelNomeCompleto}" ></option>
										     
										    </select>
										
                                     </div>
                                 </div>
                                 
                                
                                 
                                 
                                 </fieldset>
                           
                           <br/><br/>
                             <div class="form-group">
                             
                                 <input type="submit" class="btn btn-cadastro" value="salvar">
                             </div>
                                 
                             </form>
                         </div>
                      </div>
                    </div>
    			</div>
            </div>
            <!-- end container -->
	            <!-- begin footer -->
	            <th:block th:insert="~{/fragments/footer :: footer}"></th:block>
	            <!-- end footer -->
        </div>
        <!-- End #page-right-content -->

    </div>
    <!-- end .page-contentbar -->
<!-- End #page-wrapper -->
<th:block th:insert="~{/fragments/footer-scripts :: scripts}"></th:block>
<!-- Sweet-Alert  -->
<script th:src="@{/statics/pages/jquery.sweet-alert.init.js}"></script>
<script th:src="@{/statics/plugins/sweet-alert2/sweetalert2.min.js}"></script>
<script>




	
</script>

</body>
</html>