<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8" />
    <title>Feira Virtual - Senac RJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" th:href="@{/statics/images/favicon.ico}">

    <!-- Plugins css-->
    <link  th:href="@{/statics/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css}" rel="stylesheet" />
    <link rel="stylesheet"  th:href="@{/statics/plugins/switchery/switchery.min.css}">
    <link  th:href="@{/statics/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link  th:href="@{/statics/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link  th:href="@{/statics/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
    <link  th:href="@{/statics/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link  th:href="@{/statics/plugins/clockpicker/css/bootstrap-clockpicker.min.css}" rel="stylesheet">
    <link  th:href="@{/statics/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
    <!-- Summernote css -->
    <link  th:href="@{/statics/plugins/summernote/summernote.css}" rel="stylesheet" />

    <!-- Bootstrap core CSS -->
    <link  th:href="@{/statics/css/bootstrap.min.css}" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link  th:href="@{/statics/css/metisMenu.min.css}" rel="stylesheet">
    <!-- Icons CSS -->
    <link  th:href="@{/statics/css/icons.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link  th:href="@{/statics/css/style.css}" rel="stylesheet">
    <link  th:href="@{/statics/css/estilo.css}" rel="stylesheet">

</head>
<body>
</body>
</html>