<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Feira Virtual - Senac RJ</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Coderthemes" name="author" />

    <link type="text/css" rel="shortcut icon"
          href="../statics/images/favicon.ico">

    <!-- Bootstrap core CSS -->
    <link type="text/css" href="../statics/css/bootstrap.min.css"
          rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link type="text/css" href="../statics/css/metisMenu.min.css"
          rel="stylesheet">
    <!-- Icons CSS -->
    <link type="text/css" href="../statics/css/icons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link type="text/css" href="../statics/css/style.css" rel="stylesheet">
</head>
<body>
<!-- HOME -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="wrapper-page">
                    <div class="m-t-40 card-box">
                        <div class="text-center">
                            <h2 class="text-uppercase m-t-0 m-b-30">
                                <a href="index.html" class="text-success"> <span><img
                                        src="../statics/images/logo.png" alt="" height="30"></span>
                                </a>
                            </h2>
                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                        </div>
                        <div class="account-content">
                            <div class="text-center m-b-20" th:object="${usuario}">
                                <img src="../statics/images/success.svg" title="invite.svg"
                                     height="80" class="m-t-10">
                                <p class="text-muted m-t-30 line-h-24">
                                    Foi enviado um e-mail de ativação para <b><span
                                        th:text="*{email}"></span></b>. Por favor verifique seu e-mail!
                                </p>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-xs-12">
                                    <a th:href="@{/login}"
                                       class="btn btn-lg btn-primary btn-block" type="submit">Voltar
                                        para o Login</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!-- end card-box-->
                </div>
                <!-- end wrapper -->
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->
<!-- js placed at the end of the document so the pages load faster -->
<script src="../statics/js/jquery-2.1.4.min.js"></script>
<script src="../statics/js/bootstrap.min.js"></script>
<script src="../statics/js/metisMenu.min.js"></script>
<script src="../statics/js/jquery.slimscroll.min.js"></script>

<!-- App Js -->
<script src="../statics/js/jquery.app.js"></script>
</body>
</html>