<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http:www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:insert="fragments/head.html :: head"></th:block>


<body>
<div id="page-wrapper">
	<!-- Top Bar Start -->
	<th:block th:insert="fragments/topbar.html :: topbar"></th:block>
	<!-- Top Bar End -->

	<!-- Page content start -->
	<div class="page-contentbar">
		<!--left navigation start-->
		<th:block th:insert="fragments/sidebar.html :: sidebar"></th:block>
		<!--left navigation end-->

		<!-- START PAGE CONTENT -->
		<div id="page-right-content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-sm-12">
						<h4 class="m-b-20 header-title">Listar Usuarios</h4>
					</div>
					<div class="col-sm-12">
						<span sec:authorize="hasRole('ADMIN')">
							<div class="form-group">
								<a type="button" class="btn btn-azul" th:href="@{/usuario/cadastraUsuario}">Cadastrar</a>
								<br/>
							</div>
						</span>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<div class="">
							<table id="datatable-responsive" class="table table-striped table-bordered" cellspacing="0" width="100%">
								<thead>
								<tr>
									<th scope="col">Nome Completo</th>
									<th scope="col">CPF</th>
									<th scope="col">Email</th>
									<th scope="col">Senac</th>
									<th >Status</th>
									<span sec:authorize="hasRole('ADMIN') || hasRole('ADMINEMP')">
										<th scope="col">Opções</th>
									</span>
								</tr>
								</thead>
								<tbody>
									<tr th:each="usuario : ${usuarios}">
										<td  th:text="${usuario.nomeCompleto}"></td>
										<td class="align-middle text-center" th:text="${usuario.cpf}"></td>
										<td th:text="${usuario.email}"></td>
										<td class="align-middle text-center" th:text="${usuario.senac}?'Sim':''"></td>
										<td class="align-middle text-center" th:text="${usuario.status} ? 'Ativo' : 'Inativo' "></td>
										<span sec:authorize="hasRole('ADMIN') || hasRole('ADMINEMP')">
											<td class="align-middle text-center">
												<a th:href="@{/usuario/alteraUsuario/{id}(id=${usuario.id})}">
													<i class="btn btn-sm btn-primary far fa-edit"></i>
												</a>
												<a th:href="@{/usuario/excluir/{id}(id=${usuario.id})}">
													<i class="btn btn-sm btn-danger fas fa-trash-alt"></i>
												</a>
											</td>
										</span>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
				<th:block th:insert="fragments/footer.html :: footer"></th:block>
			</div>
			<!-- end footer -->
		</div>
		<!-- End #page-right-content -->
	</div>
	<!-- end .page-contentbar -->
</div>
<!-- End #page-wrapper -->

<th:block th:insert="fragments/footer-scripts.html :: scripts"></th:block>

<!-- Datatable js -->
<script th:src="@{/statics/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.bootstrap.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.buttons.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/buttons.bootstrap.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/jszip.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/pdfmake.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/vfs_fonts.js}"></script>
<script th:src="@{/statics/plugins/datatables/buttons.html5.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/buttons.print.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.keyTable.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.responsive.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/responsive.bootstrap.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.scroller.min.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.colVis.js}"></script>
<script th:src="@{/statics/plugins/datatables/dataTables.fixedColumns.min.js}"></script>

<!-- init -->
<script th:src="@{/statics/pages/jquery.datatables.init.js}"></script>

</body>
</html>
